@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "BYU IS 413";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="icon" href="~/img/33nme.png" />

</head>
<body class="myBody">
@*    This is the main page that is loaded when the website is entered.
*@    <div>
        <br />

        <img src="~/img/conquer.jpg" height="450" width="450"/>

        <h2>What I want from 413: </h2>
        <p id="myParagraph">
            I want to learn more about what Enterprise Application is and how many company choose to operate thier business.
            Always interested in the learning different ways of acheiving a desired end result!
        </p>

        <h3>Top 3 Jobs:</h3>
        <ul class="myUL">
            <li>1: Running my own company</li>
            <li>2: Project Managing</li>
            <li>3: Developing</li>
        </ul>

       

    </div>


</body>
</html>